h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  position: relative;
  max-width: 100%;
}

picture {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button:focus {
  outline: 0;
}

input {
  outline: none;
  border: none;
  cursor: pointer;
}

.item .item__description .panel-body .field {
  height: 100%;
}

.nav__mobile .countrySelectInput {
  width: 100%;
  max-width: 100%;
  display: block;
  margin-left: 10px;
}

.pill--remove {
  position: relative;
  top: 3px;
}

.searchbar .field {
  height: 60px;
}

.searchbar .field:before, .searchbar .field:after {
  bottom: 0;
}

figure {
  position: relative;
}

div.view-text-container {
  margin-bottom: 0;
}

:root {
  --theme-font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  --font-size-base: 14px;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --black: 900;
  --theme-primary: #FAEDC6;
  --theme-secondary: #ffffff;
  --theme-dark: #1F1F1F;
  --success: #77D970;
  --danger: #FF0000;
  --dark: #000000;
  --white: #ffffff;
  --gray-light: #E2E2E2;
  --gray: #aaaaaa;
  --gray-dark: #484848;
  --gray-100: #E2E2E2;
  --gray-200: #BDBDBD;
  --gray-300: #9E9E9E;
  --gray-400: #7D7D7D;
  --gray-500: #696969;
}

.text-brand {
  color: var(--theme-secondary, #1696f1);
}

.text-brand {
  font-weight: var(--dark, #000000);
}

.header__global nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shadow-top {
  -webkit-box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.25);
}

.block--container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.block--absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.block-relative {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.padding-1 {
  padding: 1px;
}

.padding-top-1 {
  padding-top: 1px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.padding-left-1 {
  padding-left: 1px;
}

.padding-right-1 {
  padding-right: 1px;
}

.padding-2 {
  padding: 2px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-left-2 {
  padding-left: 2px;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-3 {
  padding: 3px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.padding-left-3 {
  padding-left: 3px;
}

.padding-right-3 {
  padding-right: 3px;
}

.padding-4 {
  padding: 4px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-5 {
  padding: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-6 {
  padding: 6px;
}

.padding-top-6 {
  padding-top: 6px;
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-right-6 {
  padding-right: 6px;
}

.padding-7 {
  padding: 7px;
}

.padding-top-7 {
  padding-top: 7px;
}

.padding-bottom-7 {
  padding-bottom: 7px;
}

.padding-left-7 {
  padding-left: 7px;
}

.padding-right-7 {
  padding-right: 7px;
}

.padding-8 {
  padding: 8px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-right-8 {
  padding-right: 8px;
}

.padding-9 {
  padding: 9px;
}

.padding-top-9 {
  padding-top: 9px;
}

.padding-bottom-9 {
  padding-bottom: 9px;
}

.padding-left-9 {
  padding-left: 9px;
}

.padding-right-9 {
  padding-right: 9px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-11 {
  padding: 11px;
}

.padding-top-11 {
  padding-top: 11px;
}

.padding-bottom-11 {
  padding-bottom: 11px;
}

.padding-left-11 {
  padding-left: 11px;
}

.padding-right-11 {
  padding-right: 11px;
}

.padding-12 {
  padding: 12px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-left-12 {
  padding-left: 12px;
}

.padding-right-12 {
  padding-right: 12px;
}

.padding-13 {
  padding: 13px;
}

.padding-top-13 {
  padding-top: 13px;
}

.padding-bottom-13 {
  padding-bottom: 13px;
}

.padding-left-13 {
  padding-left: 13px;
}

.padding-right-13 {
  padding-right: 13px;
}

.padding-14 {
  padding: 14px;
}

.padding-top-14 {
  padding-top: 14px;
}

.padding-bottom-14 {
  padding-bottom: 14px;
}

.padding-left-14 {
  padding-left: 14px;
}

.padding-right-14 {
  padding-right: 14px;
}

.padding-15 {
  padding: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-16 {
  padding: 16px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-17 {
  padding: 17px;
}

.padding-top-17 {
  padding-top: 17px;
}

.padding-bottom-17 {
  padding-bottom: 17px;
}

.padding-left-17 {
  padding-left: 17px;
}

.padding-right-17 {
  padding-right: 17px;
}

.padding-18 {
  padding: 18px;
}

.padding-top-18 {
  padding-top: 18px;
}

.padding-bottom-18 {
  padding-bottom: 18px;
}

.padding-left-18 {
  padding-left: 18px;
}

.padding-right-18 {
  padding-right: 18px;
}

.padding-19 {
  padding: 19px;
}

.padding-top-19 {
  padding-top: 19px;
}

.padding-bottom-19 {
  padding-bottom: 19px;
}

.padding-left-19 {
  padding-left: 19px;
}

.padding-right-19 {
  padding-right: 19px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  .padding-small-1 {
    padding: 1px;
  }
  .padding-small-top-1 {
    padding-top: 1px;
  }
  .padding-small-bottom-1 {
    padding-bottom: 1px;
  }
  .padding-small-left-1 {
    padding-left: 1px;
  }
  .padding-small-right-1 {
    padding-right: 1px;
  }
  .padding-small-2 {
    padding: 2px;
  }
  .padding-small-top-2 {
    padding-top: 2px;
  }
  .padding-small-bottom-2 {
    padding-bottom: 2px;
  }
  .padding-small-left-2 {
    padding-left: 2px;
  }
  .padding-small-right-2 {
    padding-right: 2px;
  }
  .padding-small-3 {
    padding: 3px;
  }
  .padding-small-top-3 {
    padding-top: 3px;
  }
  .padding-small-bottom-3 {
    padding-bottom: 3px;
  }
  .padding-small-left-3 {
    padding-left: 3px;
  }
  .padding-small-right-3 {
    padding-right: 3px;
  }
  .padding-small-4 {
    padding: 4px;
  }
  .padding-small-top-4 {
    padding-top: 4px;
  }
  .padding-small-bottom-4 {
    padding-bottom: 4px;
  }
  .padding-small-left-4 {
    padding-left: 4px;
  }
  .padding-small-right-4 {
    padding-right: 4px;
  }
  .padding-small-5 {
    padding: 5px;
  }
  .padding-small-top-5 {
    padding-top: 5px;
  }
  .padding-small-bottom-5 {
    padding-bottom: 5px;
  }
  .padding-small-left-5 {
    padding-left: 5px;
  }
  .padding-small-right-5 {
    padding-right: 5px;
  }
  .padding-small-6 {
    padding: 6px;
  }
  .padding-small-top-6 {
    padding-top: 6px;
  }
  .padding-small-bottom-6 {
    padding-bottom: 6px;
  }
  .padding-small-left-6 {
    padding-left: 6px;
  }
  .padding-small-right-6 {
    padding-right: 6px;
  }
  .padding-small-7 {
    padding: 7px;
  }
  .padding-small-top-7 {
    padding-top: 7px;
  }
  .padding-small-bottom-7 {
    padding-bottom: 7px;
  }
  .padding-small-left-7 {
    padding-left: 7px;
  }
  .padding-small-right-7 {
    padding-right: 7px;
  }
  .padding-small-8 {
    padding: 8px;
  }
  .padding-small-top-8 {
    padding-top: 8px;
  }
  .padding-small-bottom-8 {
    padding-bottom: 8px;
  }
  .padding-small-left-8 {
    padding-left: 8px;
  }
  .padding-small-right-8 {
    padding-right: 8px;
  }
  .padding-small-9 {
    padding: 9px;
  }
  .padding-small-top-9 {
    padding-top: 9px;
  }
  .padding-small-bottom-9 {
    padding-bottom: 9px;
  }
  .padding-small-left-9 {
    padding-left: 9px;
  }
  .padding-small-right-9 {
    padding-right: 9px;
  }
  .padding-small-10 {
    padding: 10px;
  }
  .padding-small-top-10 {
    padding-top: 10px;
  }
  .padding-small-bottom-10 {
    padding-bottom: 10px;
  }
  .padding-small-left-10 {
    padding-left: 10px;
  }
  .padding-small-right-10 {
    padding-right: 10px;
  }
  .padding-small-11 {
    padding: 11px;
  }
  .padding-small-top-11 {
    padding-top: 11px;
  }
  .padding-small-bottom-11 {
    padding-bottom: 11px;
  }
  .padding-small-left-11 {
    padding-left: 11px;
  }
  .padding-small-right-11 {
    padding-right: 11px;
  }
  .padding-small-12 {
    padding: 12px;
  }
  .padding-small-top-12 {
    padding-top: 12px;
  }
  .padding-small-bottom-12 {
    padding-bottom: 12px;
  }
  .padding-small-left-12 {
    padding-left: 12px;
  }
  .padding-small-right-12 {
    padding-right: 12px;
  }
  .padding-small-13 {
    padding: 13px;
  }
  .padding-small-top-13 {
    padding-top: 13px;
  }
  .padding-small-bottom-13 {
    padding-bottom: 13px;
  }
  .padding-small-left-13 {
    padding-left: 13px;
  }
  .padding-small-right-13 {
    padding-right: 13px;
  }
  .padding-small-14 {
    padding: 14px;
  }
  .padding-small-top-14 {
    padding-top: 14px;
  }
  .padding-small-bottom-14 {
    padding-bottom: 14px;
  }
  .padding-small-left-14 {
    padding-left: 14px;
  }
  .padding-small-right-14 {
    padding-right: 14px;
  }
  .padding-small-15 {
    padding: 15px;
  }
  .padding-small-top-15 {
    padding-top: 15px;
  }
  .padding-small-bottom-15 {
    padding-bottom: 15px;
  }
  .padding-small-left-15 {
    padding-left: 15px;
  }
  .padding-small-right-15 {
    padding-right: 15px;
  }
  .padding-small-16 {
    padding: 16px;
  }
  .padding-small-top-16 {
    padding-top: 16px;
  }
  .padding-small-bottom-16 {
    padding-bottom: 16px;
  }
  .padding-small-left-16 {
    padding-left: 16px;
  }
  .padding-small-right-16 {
    padding-right: 16px;
  }
  .padding-small-17 {
    padding: 17px;
  }
  .padding-small-top-17 {
    padding-top: 17px;
  }
  .padding-small-bottom-17 {
    padding-bottom: 17px;
  }
  .padding-small-left-17 {
    padding-left: 17px;
  }
  .padding-small-right-17 {
    padding-right: 17px;
  }
  .padding-small-18 {
    padding: 18px;
  }
  .padding-small-top-18 {
    padding-top: 18px;
  }
  .padding-small-bottom-18 {
    padding-bottom: 18px;
  }
  .padding-small-left-18 {
    padding-left: 18px;
  }
  .padding-small-right-18 {
    padding-right: 18px;
  }
  .padding-small-19 {
    padding: 19px;
  }
  .padding-small-top-19 {
    padding-top: 19px;
  }
  .padding-small-bottom-19 {
    padding-bottom: 19px;
  }
  .padding-small-left-19 {
    padding-left: 19px;
  }
  .padding-small-right-19 {
    padding-right: 19px;
  }
  .padding-small-20 {
    padding: 20px;
  }
  .padding-small-top-20 {
    padding-top: 20px;
  }
  .padding-small-bottom-20 {
    padding-bottom: 20px;
  }
  .padding-small-left-20 {
    padding-left: 20px;
  }
  .padding-small-right-20 {
    padding-right: 20px;
  }
}

.border-bottom {
  border-bottom: 1px solid var(--gray-100, #E2E2E2);
}

.line {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, #000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 50%, rgba(0, 0, 0, 0) 100%);
  opacity: .1;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .hidden-down {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-up {
    display: none;
  }
}

/** ------- GRID ------- **/
.container-small, .container-medium, .container-large {
  margin: 0 auto;
  padding: 3rem 0;
}

.container-small, .container-medium, .container-large {
  width: calc(100% - 1rem);
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .container-small, .container-medium, .container-large {
    width: calc(100% - 10rem);
  }
}

.container-padding--remove {
  padding: 0 !important;
}

.container-small {
  max-width: 50rem;
}

.container-medium {
  max-width: 70rem;
}

.container-large {
  max-width: 100rem;
  height: 100%;
}

.container-premium {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 1rem);
  max-width: 80rem;
  height: 100%;
}

.row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.row-center > * {
  position: relative;
}

.row-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.row-start > * {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .row-start {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
}

.row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.row-top > * {
  position: relative;
  height: 100%;
  min-height: 0;
  min-width: 0;
}

.row-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.row-stretch > * {
  position: relative;
}

.gutter > [class^="col-"],
.gutter > [class^=" col-"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1080px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .col-sm-1 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
}

@media only screen and (max-width: 768px) {
  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .col-1 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-1 {
    margin-left: 8.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .col-sm-2 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
}

@media only screen and (max-width: 768px) {
  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .col-2 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-2 {
    margin-left: 16.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-sm-3 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-3 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .col-sm-4 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
}

@media only screen and (max-width: 768px) {
  .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .col-4 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-4 {
    margin-left: 33.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .col-sm-5 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
}

@media only screen and (max-width: 768px) {
  .col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .col-5 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-5 {
    margin-left: 41.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-sm-6 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-6 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .col-sm-7 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
}

@media only screen and (max-width: 768px) {
  .col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .col-7 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-7 {
    margin-left: 58.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .col-sm-8 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
}

@media only screen and (max-width: 768px) {
  .col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .col-8 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-8 {
    margin-left: 66.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-sm-9 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-9 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .col-sm-10 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
}

@media only screen and (max-width: 768px) {
  .col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .col-10 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-10 {
    margin-left: 83.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .col-sm-11 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media only screen and (max-width: 768px) {
  .col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .col-11 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-11 {
    margin-left: 91.66667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media only screen and (max-width: 1080px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .col-sm-12 > * {
    padding: 0;
    margin: 0;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .col-12 > * {
    padding: 0;
    margin: 0;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}

@keyframes modalIn {
  0% {
    top: 100%;
  }
  100% {
    top: 80px;
  }
}

@-webkit-keyframes modalIn {
  0% {
    top: 100%;
  }
  100% {
    top: 80px;
  }
}

@keyframes modalOut {
  0% {
    top: 80px;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes modalOut {
  0% {
    top: 80px;
  }
  100% {
    top: 100%;
  }
}

/** ------- div.class > a > button.class ------- **/
div.btn-center-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

div.btn-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.btn-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

button.btn {
  padding: 0.7rem 1.7rem;
}

button.btn--padding-08 {
  padding: 0.8rem;
}

button.btn-secondary {
  background-color: var(--white, #ffffff);
  color: var(--dark, #000000);
}

button.btn-secondary:hover {
  background-color: var(--theme-primary, #FAEDC6);
  color: var(--white, #ffffff);
}

button.btn-primary {
  background-color: var(--theme-primary, #FAEDC6);
  color: var(--white, #ffffff);
}

button.btn-primary:hover {
  background-color: var(--theme-secondary, #ffffff);
  color: var(--white, #ffffff);
}

button.btn-primary-dark {
  background-color: var(--theme-primary, #FAEDC6);
  color: var(--theme-dark, #1F1F1F);
}

button.btn-primary-dark:hover {
  background-color: var(--theme-secondary, #ffffff);
  color: var(--theme-dark, #1F1F1F);
}

button.btn-white {
  background-color: var(--white, #ffffff);
  border: 1px solid var(--gray-100, #E2E2E2);
}

button.show-more {
  background-color: var(--gray-light, #E2E2E2);
  color: var(--dark, #000000);
}

button.show-more:hover {
  background-color: var(--theme-primary, #FAEDC6);
  color: var(--white, #ffffff);
}

button.btn-rounded {
  border-radius: 25px;
}

button.btn-standard {
  border-radius: 10px;
}

button.btn-outline {
  border: 1px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
}

button.btn-outline:hover {
  background-color: var(--white, #ffffff);
  color: var(--theme-dark, #1F1F1F);
}

.btn-svg a svg {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  stroke: var(--theme-primary, #FAEDC6);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn-svg:hover a svg {
  stroke: var(--white, #ffffff);
}

.box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box--warning {
  text-align: center;
}

.box--container {
  position: relative;
  display: block;
  margin: 40px auto;
  padding: 1rem;
  max-width: 900px;
  border-radius: 20px;
  background-color: var(--white, #ffffff);
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1100px) {
  .box--container {
    margin: 20px;
  }
}

.box picture img {
  max-width: 100%;
}

.box--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.box--content {
  position: relative;
}

.box--content h2,
.box--content h3 {
  font-size: 2.1rem;
  line-height: 2.3rem;
  font-weight: var(--semi-bold, 600);
  margin-bottom: 20px;
  margin-top: 0;
}

.box--content p {
  font-size: 1rem;
  color: var(--gray-400, #7D7D7D);
}

.box--content a {
  position: absolute;
  bottom: 32%;
  left: -5px;
  padding: 5px 20px 5px 8px;
  border-radius: 20px;
  color: var(--theme-primary, #2195f2);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.box--content a:hover {
  color: var(--white, #ffffff);
  background-color: var(--theme-primary, #2195f2);
}

@media only screen and (max-width: 1100px) {
  .box--content a {
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
    min-width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }
}

.box--content a svg {
  position: relative;
  top: 2px;
  left: 10px;
}

.box--content a svg path {
  fill: var(--theme-primary, #2195f2);
}

.box--content a:hover svg path {
  fill: var(--white, #ffffff);
}

.box.box--medium .box--content,
.box--little .box--content {
  padding-top: 0.8rem;
  margin: 0;
}

.box.box--medium .box--content h1,
.box.box--medium .box--content p,
.box--little .box--content h1,
.box--little .box--content p {
  text-align: center;
}

.box.box--medium .box--content h1,
.box--little .box--content h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: var(--semi-bold, 600);
}

.box.box--little {
  min-height: calc(100vh - 60px);
}

.box.box--little .box--container {
  max-width: 385px;
}

.box.box--medium {
  min-height: calc(100vh - 60px);
}

.box.box--medium .box--container {
  max-width: 485px;
}

.box--arrow {
  position: absolute;
  top: -55px;
  left: -5px;
  width: 40px;
  height: 40px;
  display: table;
  padding: 10px;
}

.box--arrow svg {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.dark-mode {
  background-color: var(--theme-dark, #1F1F1F);
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode p {
  color: var(--white, #ffffff);
}

.dark-mode .box--darkmode h2, .dark-mode .box--darkmode h3, .dark-mode .box--darkmode h4, .dark-mode .box--darkmode h5, .dark-mode .box--darkmode p {
  color: var(--theme-dark, #1F1F1F);
}

.thumbnail {
  margin-bottom: 20px;
}

.thumbnail figcaption {
  text-align: center;
  color: var(--white, #ffff);
  padding: 1rem 10px;
}

.thumbnail__image {
  position: relative;
  overflow: hidden;
  min-height: 220px;
  border-radius: 10px;
}

.thumbnail__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

html {
  min-height: 100%;
}

body {
  font-family: var(--theme-font-family, "Poppins");
  background-color: var(--white, #ffffff);
  font-size: var(--font-size-, 14px) base;
  height: 100%;
  display: block;
}

main {
  z-index: 0;
}

main:after {
  content: "";
  display: table;
  zoom: 1;
  clear: both;
}

picture {
  height: 100%;
}

a {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  cursor: pointer;
}

img {
  width: 100%;
}

body.has-menu {
  overflow-y: hidden;
}

/** ------- POSITIONNING ------- **/
/** ------- IDTICKETING ------- **/
.site-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  background-color: var(--white, #ffffff);
  width: 100%;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
  background-color: var(--white, #ffffff);
  width: 100%;
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer-fixed {
    display: block;
  }
}

.footer-fixed nav {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.header__home {
  text-align: center;
}

.header__home h3 {
  color: var(--gray-300, #9E9E9E);
  font-size: 1rem;
  font-weight: var(--regular, 400);
}

.header__logo--home {
  display: block;
  margin-top: 50px;
}

.nav__main {
  width: 100%;
}

.nav__main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__main ul li {
  margin: 0 10px;
}
/*# sourceMappingURL=index.css.map */